.DS_Store
*~
*.o
*.a
*.lib
*.dll
*.exe
*.so
DIFF*
PATCH*
tags
build/harness
tools/*.png
tools/devserver
tools/randtest
deps/include/*
linux/*
osx/*
ios/*
android/*
clients/android/assets/*
mingw/
*.out
*.res
ffitest
target
Make.params
src/lua_scripts.h
ltclient
*.xcf
.*.swp
D.*

shell/*
